<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-items"><a class="<%= path === '/' ? 'active' : ''%>" href="/">Main</a></li>
            <li class="main-header-items"><a class="<%= path === '/user-list' ? 'active' : ''%>" href="/user-list">User List</a></li>
        </ul>
    </nav>
</header>