<%- include("./includes/head.ejs") %>

</head>
<body>

 <%- include("./includes/navigation.ejs") %>
 
 <div class="head-div">
    <h1>Oops! Something went wrong on back.</h1>
    <p>Our team has informed, we will fix the issue.</p>
</div>

</body>
</html>