<%- include("./includes/head.ejs") %>

</head>
<body>

<%- include("./includes/navigation.ejs") %>

<main>

<div class="head-div">
    <h1>Reset Password</h1>
</div>

<div class="search-div">
    <form action="/reset" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="origin">E-mail</label><br>
        <input type="email" id="email" name="email"><br>
        <% if (errorMessage) { %>
            <div class="warning"><%= errorMessage %></div>
        <% } %><br>
        <button type="submit" value="Submit">Reset</button>
    </form>
</div>
</main>

</body>
</html>