<%- include("includes/head.ejs") %>

</head>
<body>
    <%- include("includes/navigation.ejs") %>
    
    <h1>Oops! Something Has Gone Wrong.</h1>
    <p>The page you entered is not found.</p>

<%- include("includes/end.ejs") %>