extends layouts/main-layout.pug 
block content 
        main
            .grid
                if prods.length > 0
                    each product in prods
                        article.card.product-item 
                            header.card-header
                                h1.product-title #{product.title}
                            .card-image 
                                img(src="https://cdn-icons-png.flaticon.com/512/2232/2232688.png" alt="book image")
                            .card-content 
                                h2.product-price $19.99
                                p.product-description A very interesting book about so many even more things to discover.
                            .card-actions 
                                button.btn Add to Cart 
                else
                    h1 No Products